<header class="header">
    <div class="logo">
    <img src="/logo_tudu.png" alt="Logo Tudu" />
  </div>
  <nav class="nav-buttons">
    <a href="#/home" class="btn btn-primary">Volver a Inicio</a>
  </nav>
</header>
<main class="main">
    <h1 class="about-us">Sobre Nosotros</h1>
    <div>
        <p class="subtitle">
            Hola! Somos una pequeña empresa caleña de desarrollo de software.
            <br>Nuestra filosofía de desarrollo se basa en crear productos que  sean accesibles para todo tipo de usuarios, desde los más experimentados hasta quienes están dando sus primeros pasos, con una interfaz de usuario minimalista, atractiva y fácil de usar.   
        </p>
        <p class="subtitle">
            Con Tudu, queremos brindarte una experiencia de usuario disfrutable y amena para ti, para que organices tus tareas, y verte crecer en tus proyectos personales junto a nosotros.
        </p>

    </div>
    
</main>
<footer class="footer">
    <p>©2025 Tudu. Todos los derechos reservados &nbsp;&nbsp;&nbsp;
        <a href="#/sitemap">Mapa del Sitio</a>
    </p>
</footer>