<header class="header">
  <div class="logo">
    <img src="/logo_tudu.png" alt="Logo Tudu" />
  </div>
  <nav class="nav-buttons">
    <a href="#/sign-in" class="btn btn-secondary">Sign In</a>
    <a href="#/sign-up" class="btn btn-primary">Sign Up</a>
  </nav>
</header>

  <main class="main">
    <h1 class="title">Organiza tu día. Cumple tus metas.</h1>
    <p class="subtitle">
      Gestiona tus tareas, prioridades y pendientes fácilmente. Visualiza tu progreso y organiza mejor tu tiempo con Tudu.
    </p>
    <a href="#/sign-up" class="cta-button">¡Comienza ahora!</a>
  </main>

  <footer class="footer">
    <p>©2025 Tudu. Todos los derechos reservados &nbsp;&nbsp;&nbsp; Mapa del Sitio</p>
  </footer>
