<header class="header">
  <div class="logo">
    <img src="/public/logo_tudu.png" alt="Logo Tudu" />
  </div>
  <nav class="nav">
    <a href="#">Sign In</a>
    <a href="#/signup">Sign Up</a>
  </nav>
</header>

  <main class="main">
    <h1>Organiza tu día. Cumple tus metas.</h1>
    <p>
      Gestiona tus tareas, prioridades y pendientes fácilmente. Visualiza tu progreso y organiza mejor tu tiempo con Tudu.
    </p>
    <a href="#/signup" class="cta-button">¡Comienza ahora!</a>
  </main>

  <footer class="footer">
    ©2025 Tudu. Todos los derechos reservados &nbsp;&nbsp;&nbsp; Mapa del Sitio
  </footer>
