<main class="main">
  <div class="logo">
    <img src="/logo_tudu.png" alt="Logo de Tudu" class="login-logo">
  </div>

  <form class="registration-card" id = "reset-password-form" action="/reset-password" method="POST">
    <div>
      <h2 class="form-title">Recupera tu contraseña</h2>
      <p class="form-subtitle">Ingresa una nueva contraseña y confirmala</p>
    </div>

    <label for="reset-password">Contraseña</label>
    <input type="password" id="reset-pass" name="resetPassword" placeholder="Ingrese nueva contraseña" required>


    <label for="confirm--reset-password">Confirmar Contraseña</label>
    <input type="password" id="confirm-reset-password" name="confirmResetPassword" placeholder="Confirme su nueva contraseña" required>


    <button type="submit" id = "reset-password-btn" disabled>Actualizar</button>
  </form>

</main>

<footer class="footer">
    <p>©2025 Tudu. Todos los derechos reservados &nbsp;&nbsp;&nbsp; Mapa del Sitio</p>
  </footer>