<main class="main">
  <div class="logo">
    <a href="#/home"><img src="/logo_tudu.png" alt="Logo de Tudu" class="login-logo"></a>
  </div>

  <form class="registration-card" id="sign-in-form" action="/login" method="POST">
    <div>
      <h2 class="form-title">Iniciar sesión</h2>
      <p class="form-subtitle">Ingresa tus datos para acceder a tus tareas</p>
    </div>

    <label for="sign-in-email">Email</label>
    <input type="email" id="sign-in-email" name="email" placeholder="Ingrese su email" required>

    <div class="password-label-container">
      <label for="sign-in-password">Contraseña</label>
      <a class="forgot-password-link">¿Olvidaste tu contraseña?</a>
    </div>

    <input type="password" id="sign-in-password" name="password" placeholder="Ingrese su contraseña" required>

    <button type="submit" id="sign-in-button" disabled>Iniciar sesión</button>
    <div class="sign-in-footer">
      <p>¿No tienes una cuenta? <a href="#/sign-up">Regístrate</a></p>
    </div>
  </form>

</main>

<footer class="footer">
  <div class="footer-content">
    <span>©2025 Tudu. Todos los derechos reservados</span>
    <nav class="footer-nav">
      <a href="#/sitemap">Mapa del Sitio</a>
      <a href="#/about-us">Sobre nosotros</a>
      <a href="#/home">Volver al Inicio</a>  
    </nav>
  </div>
</footer>

<div id="recoveryPassword" class="modal" style="display: none;">
  <div class="modal-password-content">
    <span class="close-modal">&times;</span>
    <h3>Recuperar contraseña</h3>
    <form id="createTaskForm" autocomplete="off">
      <div class="form-group">
        <label for="forgotLink" style="opacity: 0.52;font-size: 15px;">Ingresa tu correo correo electronico</label>
        <input id="forgotLink" name="taskTitle" type="text" placeholder="Ingresa tu correo" required />
      </div>
      <div class="buttons-modal">
        <button type="button" id="cancelTaskBtn">Cancelar</button>
        <button type="submit" id="sendEmail">Enviar</button>
      </div>
    </form>
  </div>
</div>