<main class="main">
  <div class="logo">
    <img src="/public/logo_tudu.png" alt="Logo de Tudu" class="login-logo">
  </div>
  
  <form  class="registration-card" id = "sign-up-form" action="/register">
    <div>
      <h2 class="form-title">Registrate</h2>
      <p class="form-subtitle">Ingresa tu información para crear una nueva cuenta</p>
    </div>
    
    <div class="name-row">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" placeholder="Ingrese su nombre" required>
      </div>
      <div class="form-group">
        <label for="last-name">Apellido</label>
        <input type="text" id="last-name" placeholder="Ingrese su apellido" required>
      </div>
    </div>

      <label for="sign-up-email">Email</label>
      <input type="email" id="sign-up-email" name="email" placeholder="Ingrese su email" required>
      
      <label for="age">Edad</label>
      <input type="number" id="age" placeholder="Ingrese su edad" required>
      <div class="age-requirements">
        <h3>La edad debe ser:</h3>
        <ul>
          <li>Mayor o igual a 13 años</li>
        </ul>
      </div>

      <label for="sign-up-password">Contraseña</label>
      <input type="password" id="sign-up-password" name="password" placeholder="Ingrese su contraseña" required>

      <label for="confirm-password">Contraseña</label>
      <input type="password" id="confirm-password" name="password" placeholder="Ingrese su contraseña" required>
      <div class ="password-requirements">
        <h3>La contraseña debe tener:</h3>
        <ul>
          <li id="length" class="invalid">Al menos 8 caracteres</li>
          <li id="uppercase" class="invalid">Al menos una mayúscula</li>
          <li id="lowercase" class="invalid">Al menos una minúscula</li>
          <li id="number" class="invalid">Al menos un número</li>
        </ul>
      </div>
      <button type="submit" id="sign-up-button" disabled>Continuar</button>
      <div class="sign-in-footer">
        <p>¿Ya tienes una cuenta? <a href="#/sign-in">Inicia sesión</a></p>
      </div>
  </form>
</main>
<footer class="footer">
    <p>©2025 Tudu. Todos los derechos reservados &nbsp;&nbsp;&nbsp; Mapa del Sitio</p>
  </footer>